:root {
  --arrow-bg: rgba(63, 40, 73, 0.219);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: rgba(77, 29, 77, 0.219);
  --select-bg: rgba(63, 40, 73, 0.219);
}

body {
  background: linear-gradient(35deg, rgb(0, 0, 0), rgb(32, 0, 32));
  color: rgb(255, 255, 255);
}

.informacoes_basicas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-right: auto;
  margin-left: 1%;
}

.icone {
  color: #c040b9;
  width: 40px;
}
.select_currency {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 15rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgb(255, 255, 255);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}
.select_currency:active {
  color: rgb(58, 58, 58);
}

.select_currency_graph {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  margin-left: 5px;;
  /* Personalize */
  width: 7rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgb(255, 255, 255);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}
.select_currency_graph:active {
  color: rgb(10, 10, 10);

}


.select_button {
  /* Reset */
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  /* Personalize */
  width: 5rem;
  padding: 1rem 4rem 1rem 1rem;
  background: linear-gradient(
    to left,
    var(--arrow-bg) 3em,
    var(--select-bg) 3em
  );
  color: rgb(253, 253, 253);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  /* Remove IE arrow */
  &::-ms-expand {
    display: none;
  }
  /* Remove focus outline */
  &:focus {
    outline: none;
  }
  /* <option> colors */
  option {
    color: inherit;
    background-color: var(--option-bg);
  }
}

/* FOOTER */
.footer {
  display: grid;
  margin: auto;
}

ul {
  display: inline-flex;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
}

@media (min-width: 30px) {
  ul {
    grid-auto-flow: column;
  }
}

a {
  color: rgba(255, 255, 255, 0.562);
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

a:hover {
  font-size: 18px;
  color: white;
}

li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
