:root {
  --arrow-bg: rgba(63, 40, 73, 0.219);
  --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
  --option-bg: rgba(77, 29, 77, 0.219);
  --select-bg: rgba(63, 40, 73, 0.219);
}

body {
  background: linear-gradient(35deg, rgb(0, 0, 0), rgb(32, 0, 32));
  color: rgb(255, 255, 255);
}

/* Basic Information */
.informacoes_basicas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-right: auto;
  margin-left: 1%;
}

.icone {
  color: #c040b9;
  width: 40px;
}

/* Select Styles */
.select_currency,
.select_currency_graph {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 15rem;
  padding: 1rem 4rem 1rem 1rem;
  background: var(--arrow-icon) no-repeat right 0.8em center / 1.4em,
    linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgb(255, 255, 255);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Option Styles */
.select_currency option,
.select_currency_graph option {
  color: rgb(0, 0, 0);
  background-color: var(--option-bg);
}

/* Active Styles */
.select_currency:active,
.select_currency_graph:active {
  color: rgb(10, 10, 10);
}

/* Select Button Styles */
.select_button {
  appearance: none;
  border: 0;
  outline: 0;
  font: inherit;
  width: 5rem;
  padding: 1rem 4rem 1rem 1rem;
  background: linear-gradient(to left, var(--arrow-bg) 3em, var(--select-bg) 3em);
  color: rgb(253, 253, 253);
  border-radius: 0.25em;
  box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* Footer */
.footer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
  padding: 1rem;
  background-color: transparent;
}

/* List Style */
ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Link Styles */
a {
  color: rgba(255, 255, 255, 0.562);
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
  padding: 0.5rem;
  border-radius: 5px;
  transition: background 0.3s;
}

a:hover {
  font-size: 18px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

/* Animation */
li:hover ~ li p {
  animation: wave-animation 0.3s infinite;
}

@keyframes wave-animation {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}

/* Responsiveness */
@media (max-width: 576px) {
  .footer {
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
  }

  ul {
    flex-direction: column;
    gap: 12px;
  }

  a {
    padding: 0.5rem 1rem;
    text-align: center;
    width: 100%;
  }
}
